<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>the recluter</title>
  </head>
  <body>
    <h1>ci sei</h1>

    <label for="pwd">nuova Password</label>
    <input type="password" id="pwd1" />

    <label for="pwdConfirm">conferma Password</label>
    <input type="password" id="pwd2" name="password" />

    <input type="submit" value="conferma" onclick="checkPassword()" />
    <p id="testo"></p>
    <a th:href="@{/primoAc}">no non sono nuovo</a>

    <script>
      function checkPassword() {
        let x = document.getElementById("pwd1").value;
        let y = document.getElementById("pwd2").value;

        if (x !== y) {
          document.getElementById("testo").innerHTML =
            "i due password non coincidono";
        } else {
          let ciao = window.location.href;
          var parts = ciao.split("/");
          var lastChar = parts[parts.length - 1];

          let newPWD = document.getElementById("pwd2").value;
          let qString = "?password=" + y;
          window.location =
            "http://localhost:8080/newPwd/" + lastChar + qString;
        }
      }
    </script>
  </body>
</html>
